<section class="login-content">
  <div class="logo">
    <h1>Harman</h1>
  </div>
  <div class="login-box flipped">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'forget-form' }) do |f| %>
    <h3 class="login-head">Resend unlock instructions</h3>
    <div class="form-group">
      <label class="control-label">EMAIL</label>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
    </div>
    <div class="form-group btn-container">
      <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block') do %>
        <i class="fa fa-unlock fa-lg fa-fw"></i>Resend unlock instructions
      <% end %>
    </div>
<% end %>
  </div>
</section>
