<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-calendar"></i> <%= t('ui.notification') -%></h1>
      <p>近期培训通知</p>
    </div>
  </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">2018年度Performance Manager系统软件应用技术认证培训会</h3>
            <div class="tile-body">
尊敬的先生／女士：
<br />
我们在此诚挚地邀请您参加，由哈曼（中国）专业音视系统事业部，在上海体验中心举办的2018年度Performance Manager系统软件应用技术认证培训会。
<br />
地址： 上海市长宁区福泉北路388号（东方国信）B座 2楼04单元
<br />

时间： 2018年4月28日
<br />

此致最诚挚的问候
<br />
哈曼（中国）专业音视系统事业部</div>
            <div class="tile-footer"><a class="btn btn-primary" href="#"><i class="fa fa-sign-in"></i><%= t('ui.training_user_add') -%></a></div>
          </div>
        </div>
      </div>
</main>
