<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-calendar"></i> <%= t('ui.notification') -%></h1>
      <p>近期培训通知</p>
    </div>
  </div>
<% @circulars.each_with_index do |circular, index| -%>
  <% if index.even? -%>
    <div class="row justify-content-start">
  <% end -%>
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title"><%= circular.title -%></h3>
          <div class="tile-body">
            <% circular.vertical_markets.each do |vm| -%>
              <span class="badge badge-primary"><%= vm.name -%></span>
            <% end -%>
            <br />
            <%= simple_format circular.body -%>
          </div>
        </div>
      </div>
  <% if index.odd? -%>
    </div>
  <% end -%>
<% end -%>
</main>
