<%= form_with model: course, class: 'form-horizontal', id: 'to-add-user-id' do |f| %>
  <div class="form-group row">
    <label class="control-label col-md-3"><%= t('course.trainee') -%></label>
    <%= f.select :attend_user_id, users.pluck(:name, :id), {}, class: 'form-control col-md-5 course-add-user' %>
    <%= f.submit t('form.add'), class: 'btn btn-primary' %>
  </div>
<% end %>
