a.app-header__logo {
  background-color: white;

  img {
    height: 48px;
  }
}

.login-box-signup {
  min-height: 420px !important;
}

.login-box {
  min-height: 410px !important;
}

.app-login-box {
  @media(max-width: 480px) { display: none; }
  align-self: center;
}

// .app-content {
//   background-color: #FFFFFF;
// }

.app-content-bg {
  background-color: #FFFFFF;
}

td {
  min-width: 20px;
  max-width: 400px;
}

.course-add-user {
  margin-left: 14px;
  margin-right: 8px;
}

.tile-2 {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
