a.app-header__logo {
  background-color: $white;

  img {
    height: 48px;
  }
}

.login-box-signup {
  min-height: 420px !important;
}

.login-box {
  min-height: 410px !important;
}

.app-login-box {
  @media(max-width: 480px) { display: none; }
  align-self: center;
}

// .app-content {
//   background-color: #FFFFFF;
// }

.app-content-bg {
  background-color: #FFFFFF;
}

td {
  min-width: 30px;
  max-width: 400px;
}
